@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.bg {
    background-color: #D5D5F6;
}

nav {
    background-color: #1B998B;
    height: 60px;
}

.navbar-brand {
    height: 70px;
    width: 45px;
}

.logo-wrapper {
    margin-left: 100px;
}

.navbar-nav {
    padding-left: 40%;
    gap: 20px;
}

.nav-link {
    font-size: large;
    font-weight: bold;
    color: #D5D5F6;
    font-family: 'Poppins';

}

a {
    text-decoration: none;
    color: #2D3047;
}

a:hover {
    color: #D5D5F6;
}

h2 {
    font-size: xx-large;
    font-weight: bold;
}

#loginButton {
    margin-left: 4rem;
    border-radius: 15px;
    width: 80px;
    line-height: 15px;
    background-color: #D5D5F6;
    color: #2D3047;
    font-weight: bold;
    font-family: 'Poppins';
    border: none;
    outline: none;
    height: 35px;
}

.container-fluid {
    padding-top: 5vh;
    font-family: 'Poppins';
    width: 170vh;
}

.card {
    width: 50vh;
    height: 30vh;
    justify-content: center;
    border-radius: 10px;
}

.cbody {
    text-align: center;

}

.icons {
    width: 80px;
    height: 80px;

}

.card-title {
    margin-top: 2vh;
    font-weight: bold
}

.row {
    padding-top: 2vh
}

.active {
    font-size: large;
    font-weight: bold;
    color: black;
    font-family: 'Poppins';
}

.inputs {
    padding-top: 0vh;
}

.form-group {

    padding-top: 1rem;

}

.form-group input,
select {

    height: 5vh;

}

.btns {
    padding-top: 5vh;
    display: flex;
    justify-content: end;
}

.btnAdd {
    border-radius: 5px;
    background-color: #1B998B;
    color: white;
    border: none;
    height: 5vh;
    width: 10vh;
}

.btnAdd:hover {
    background-color: white;
    border: 1px solid #1B998B;
    color: #1B998B;
}

.btnCancel {
    border-radius: 5px;
    background-color: white;
    color: black;
    border: none;
    height: 5vh;
    width: 10vh;
    margin-right: 1vh;
}

.btnCancel:hover {
    background-color: #1B998B;
    color: white;
}

.background{
    display: flex;
    justify-content: center;
}

.bgImg {
    width: 250px;
}

.footer {
    position: fixed;
    text-justify: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    border-top: 1px solid black;
    background-color: white;
    color: black;
    text-align: center;
 }

 .footerText{
     display: flex;
     height: 100%;
     justify-content: center;
     align-items: center;
     font-weight: lighter;
 }

 .table{
     border: 1px solid black;
 }

 .info{

    text-align: center;
    font-size: 3vh;
    padding-top: 4vh;

 }