body {
    background-color: #2D3047;
}

nav {
    background-color: #1B998B;
    height: 60px;
}

.navbar-brand {
    height: 70px;
    width: 45px;
}

.logo-wrapper {
    margin-left: 100px;
}

.navbar-nav {
    padding-left: 80%;
}

a {
    text-decoration: none;
    color: #2D3047;
}

a:hover {
    color: #D5D5F6;
}

#navbarLinks {
    padding-right: 33%;
}

.nav-link {
    margin: 20px;
    color: #D5D5F6;
    font-size: 17px;
    font-weight: bold;
    @font-face {
        font-family: Poppins;
    }
}

.nav-link:hover{
    color: #2D3047;
}

#logoutBtn {
    margin-right: 10%;
    border-radius: 15px;
    border: #D5D5F6;
    width: 100px;
    line-height: 30px;
    background-color: #D5D5F6;
    color: #2D3047;
    font-weight: bold;

    @font-face {
        font-family: Poppins;
    }

    border: none;
    outline: none;
}

#title {
    color: #FF9B71;
    text-align: center;
    margin-top: 30px;
}

.difficulty-cards {
    margin-top: 2%;
    float: left;
    width: 33%;
    text-align: center;
    align-items: center;
}

.difficulty-images {
    border-radius: 35px;
    width: 250px;
    height: 250px;
}

.difficulty-text {
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
}

#easy {
    color: #1B998B;
}

#medium {
    color: #FF9B71;
}

#hard {
    color: #E84855;
}

.main-container {
    text-align: justify;
    line-height: 0;
}

.difficulty-images {
    border-radius: 35px;
    width: 250px;
    height: 250px;
    padding: 40px;
    background-color: #D5D5F6;
}

.main-container:after {
    content: "";
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
}

.text-container {
    text-align: justify;
    line-height: 0;
}

.text-container:after {
    content: "";
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
}

.difficulty-text {
    display: inline-block;
    margin-top: 2rem;
    margin-left: 12rem;
    margin-right: 12rem;
}

.activities-container {
    background-color: #D5D5F6;
    margin-top: 3rem;
    margin-left: 6rem;
    margin-right: 6rem;
    border-radius: 40px;
    padding: 30px;
}

.card-images {
    border-radius: 40px;
    height: 200px;
    width: 200px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.quizz-title {
    margin-left: 2rem;
    margin-top: 1rem;
    color: #D5D5F6;

    @font-face {
        font-family: Poppins;
    }
}

.card-theme {
    color: #D5D5F6;
    margin-left: 2rem;
    margin-top: 2rem;
}

.card {
    border-radius: 40px;
    background-color: #1B998B;
}

.theme-text {
    margin-left: 2rem;
    margin-top: 1rem;
    color: #D5D5F6;
    font-size: 19px;

    @font-face {
        font-family: Work Sans;
    }
}
