body {
    background-color: #2D3047;
}

nav {
    background-color: #1B998B;
}

.navbar-logo-wrapper {
    padding-left: 8%;
}

.navbar-brand {
    height: 20%;
    width: 20%;
}

.navbar-nav {
    padding-left: 80%;
}

#loginButton {
    border-radius: 20px;
    width: 80px;
    height: 45px;
    background-color: #D5D5F6;
    text-align: center;
    justify-content: center;
    color: #2D3047;
    font-weight: bold;
    @font-face {
        font-family: Poppins;
    }
    border: none;
    outline: none;
}