body {
    background-color: #2D3047;
}

.bg{
    background-color: #D5D5F6;
}

nav {
    background-color: #1B998B;
    height: 60px;
}

.navbar-brand{
    height: 70px;
    width: 45px;
}

.logo-wrapper{
    margin-left: 100px;
}

.navbar-nav {
    padding-left: 80%;
}

a {
    text-decoration: none;
    color: #2D3047;
}

a:hover {
    color: #D5D5F6;
}

h3 {
    margin-top: 15px;
}

#loginButton {
    border-radius: 15px;
    width: 80px;
    line-height: 15px;
    background-color: #D5D5F6;
    color: #2D3047;
    font-weight: bold;
    @font-face {
        font-family: Poppins;
    }
    border: none;
    outline: none;
}

#title {
    color: #FF9B71;
    text-align: center;
    margin-top: 30px;
}


h3{
    color: #D5D5F6;
}

.firstPs {
    font-size: 25px;
    color: #D5D5F6;
}

.secondPs {
    font-size: 35px;
    color: #1B998B;
    margin-left: 80px;
}

.mid-container{
    background-color: #D5D5F6;
}

#dishes {
    margin: 80px;
    border-radius: 40px;
}

#kitchen-knife {
    transform: rotate(-35.64deg);
    height: 25rem;
}

h2 {
    color: #FF9B71;
}

#twitter {
    height: 60px;
    width: 60px;
    margin: 10px;
}

#instagram {
    height: 60px;
    width: 60px;
    margin: 10px;
}

#facebook {
    height: 60px;
    width: 60px;
    margin: 10px;
}