body {
    background-color: #2D3047;
}

nav {
    background-color: #1B998B;
    height: 60px;
}

.navbar-brand{
    height: 70px;
    width: 45px;
}

.logo-wrapper{
    margin-left: 100px;
}

.navbar-nav {
    padding-left: 80%;
}

a {
    text-decoration: none;
    color: #2D3047;
}

a:hover {
    color: #D5D5F6;
}

h3 {
    margin-top: 15px;
}

#loginButton {
    border-radius: 15px;
    width: 80px;
    line-height: 15px;
    background-color: #D5D5F6;
    color: #2D3047;
    font-weight: bold;
    @font-face {
        font-family: Poppins;
    }
    border: none;
    outline: none;
}

#title {
    color: #FF9B71;
    text-align: center;
    margin-top: 30px;
}